@charset "UTF-8";

$bgcolor: #f7f7f7;
$bgcolor-info: #fff;
$fontcolor-main: #333;
$fontcolor-time: #999;
$fontcolor-btn: #fff;
$fontcolor-btn-cancel: #333;
$bordercolor: #999;
$btncolor: #37a1e5;
$btncolor-cancel: #999;

html{
	font-size: 62.5%;
}

body{
	font-size: 1.4em;
	background-color: $bgcolor;
	color: $fontcolor-main;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.wrapper{
	text-align: center;
	width: 40%;
	margin: 0 auto;
}

.title{
	margin: 50px 0 10px;
}

form{
	margin: 50px 0;
	.inputarea{
		display: flex;
		flex-direction: column;
		text-align: left;
		margin: 20px auto;
		label{
			margin-bottom: 10px;
		}
		input{
			&[type=text]{
				&[name=name]{
					width: 50%;
					border: 1px solid $bordercolor;
				}
			}
			&[type=password]{
				@extend input[type=text][name=name];
			}
		}
		textarea{
			resize: none;
			border: 1px solid $bordercolor;
		}
	}
	.inputarea-admin{
		align-items: center;
	}
}

.btn{
	width: 150px;
	padding: 10px;
	border-radius: 5px;
	border: transparent;
	&:hover{
		opacity: 0.5;
	}
	&.btn_submit{
		background-color: $btncolor;
		color: $fontcolor-btn;
	}
	&.btn_cancel, &.btn_logout{
		border: 1px solid $btncolor-cancel;
	}
}

article{
	background-color: $bgcolor-info;
	margin: 15px auto;
	padding: 20px;
	text-align: left;
	border-radius: 10px;
	.info{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 10px;
		h2{
			display: inline;
			margin-right: 15px;
			font-size: 1.4rem;
		}
		time{
			color: $fontcolor-time;
			font-size: 1.2rem;
		}
	}
}

@media screen and (max-width:559px){
	.wrapper{
		width: 90%;
	}
}

@media screen and (min-width:560px) and (max-width:1025px){
	.wrapper{
		width: 60%;
	}
}


